$textcolor: white;

a{
  text-decoration: none;
  color:$textcolor;
}

a:hover, a:active{
  font-weight: bold;
}

.menu{
  list-style: none;
  padding: 0;
  margin: 0;
}
mat-sidenav{
  width: 200px;
}

