<mat-sidenav-container>
  <mat-sidenav #sidenav>
      <app-menu (kivalasztottOldal)="oldalValtas($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event,sidenav)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSideNav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayout fxHide.xs>
      <ul class="menu" fxLayout fxLayoutGap="10px">
        <li><a routerLink="/main">Főoldal</a></li>
        <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés</a></li>
        <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logOut()">Kijelentkezés</a></li>
        <li><a routerLink="/registration">Regisztráció</a></li>
        <li><a routerLink="/profile">Profil</a></li>
      </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" >Twitter</div>
  </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


