<div id="udv">
  <h1> Üdvözöllek az oldalon!</h1>
</div>
<div class="br"></div>
<div *ngIf="posts.length">
  <table>
    <tr>
      <th>Felhasználónév</th>
      <th>Bejegyzés</th>
      <th>Dátum</th>
    </tr>
    <tr *ngFor="let post of posts; let i = index" [ngClass]="i % 2 === 0 ? 'table-header-even':'table-header-odd'">
      <td>{{post.uname}}</td>
      <td>{{post.tweet}}</td>
      <td>{{post.date | dateTimeFormat}}</td>
    </tr>
  </table>
</div>
<br>
<div class="br"></div>
<mat-card>
<div id="bejegyzes">
  <mat-card-actions>
  <form [formGroup]="postForm" (ngSubmit)="addPost()">
  <div>
    <mat-form-field>
      <mat-label for="uname">Felhasználónév:</mat-label>
      <input matInput id="uname" type = "text" formControlName="uname">
    </mat-form-field>
  </div>
  <div class="br"></div>
  <div>
    <mat-form-field>
      <mat-label for="tweet">Bejegyzés: </mat-label>
      <textarea matInput rows="7" cols="100" formControlName="tweet"></textarea>
    </mat-form-field>
  </div>
  <div class="br"></div>
  <div>
    <button mat-raised-button color="accent" type="submit">Közzétesz</button>
  </div>
  <div class="br"></div>
  </form>
  </mat-card-actions>
</div>
</mat-card>


